version: "3.9"

services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: user_service_db   # <-- change to your new DB name
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: M@khots0
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  user-service:
    image: user-service:1.0
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/user_service_db   # <-- update here too
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: M@khots0
    restart: unless-stopped

volumes:
  postgres-data:
